{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_bigbluebuttonbn/search_input_recordings

    Search input that auto searches. Inspired from the core/search_input_auto but
    does not use a unique id for the search input.
    Add a submit button and clear button.

    Example context (json):
    {
    }
}}
<div class="d-flex justify-content-end align-items-center mb-3">
    <input id="recordings-search-input" type="text"
           class="form-control form-control-sm w-auto mr-2"
           style="max-width: 300px;"
           placeholder="{{#str}}view_recording_search_placeholder, mod_bigbluebuttonbn{{/str}}">
    <button id="recordings-search-button" class="btn btn-sm btn-primary">
        {{#str}}view_recording_search, mod_bigbluebuttonbn{{/str}}
    </button>
</div>
